{
    "//urls": "URLs and paths for Ennuicastr and associated tools",
    "site": "https://ennuicastr.com/",
    "panel": "https://ennuicastr.com/panel/",
    "clientShort": "https://weca.st/",
    "client": "https://ennuicastr.com/r/",
    "ennuizel": "https://ez.ennuicastr.com/",
    "clientRepo": "~/ennuicastr",
    "repo": "~/ennuicastr-server",
    "db": "~/ennuicastr-server/db",
    "rec": "~/ennuicastr-server/rec",
    "sounds": "~/ennuicastr-server/sounds",
    "cert": "~/cert",
    "sock": "/tmp/ennuicastr-server.sock",
    "lobbysock": "/tmp/ennuicastr-lobby-server.sock",

    "//limits": "Various limits on use",
    "limits": {
        "simultaneous": 4,
        "lobbies": 64,
        "tracksFree": 8,
        "tracksPaid": 64,
        "recNameLength": 512,
        "recUsernameLength": 32,
        "lobbyNameLength": 512,
        "soundNameLength": 512,
        "soundSize": 1073741824,
        "soundDurationTotal": 7200
    },

    "//apiShare": "Location both locally and online to share files for use in remote API services (in particular, runpod.ai for Whisper transcription)",
    "apiShare": {
        "dir": "/var/www/html/sharedfiles",
        "url": "https://ennuicastr.com/sharedfiles"
    },

    "//runpodWhisper": "Server information for Whisper API running on RunPod. Note that you cannot use the default RunPod Whisper or faster-whisper client. You must use https://hub.docker.com/r/yahweasel/runpod-worker-configurable-faster_whisper",
    "runpodWhisper": {
        "url": "https://api.runpod.ai/v2/",
        "key": ""
    },

    "//google": "API key for Google login",
    "google": {
        "clientId": "",
        "secret": ""
    },

    "//googleDrive": "API key for Google Drive, which can be the same as above",
    "googleDrive": {
        "clientId": "",
        "secret": ""
    },

    "//firebase": "API key and config info for Firebase login",
    "firebase": {
        "config": {
            "apiKey": "",
            "authDomain": "",
            "databaseURL": "",
            "projectId": "",
            "storageBucket": "",
            "messagingSenderId": "",
            "appId": ""
        },
        "serviceAccountKey": "~/firebase-adminsdk.json"
    },

    "//facebook": "API key for Facebook login",
    "facebook": {
        "appId": "",
        "secret": ""
    }
}
